<div class="in-page-container" style="background-color: white;padding-top: 48px;">
    <div>
        <div class="header-text">
            <div class="heading-1">Components</div>
            <p class="_16pt grey _12-top-space w-50 desc">
                Components are the reusable building blocks of our design system. Each component meets a specific interaction or UI need, and has been specifically created to work together to create patterns and intuitive user experiences.

            </p>
        </div>
    </div>
</div>
<app-capabilities-home [data]="artifact"></app-capabilities-home>