<div class="section-2">
  <div class="dialog-container">
    <div class="logo-container">
      <img src="assets/images/Logo.svg" loading="lazy" alt="" class="image-2" />
      <div class="heading-2 alternative">HCL DesignOps</div>
    </div>
    <div class="card">
      <div class="dialog-content">
        <div class="dialog-content-container">
          <img src="assets/images/mail.svg" loading="lazy" alt="" />
        </div>
        <div class="dialog-content-container">
          <h1 class="heading-1">We&#x27;ve sent an email</h1>
          <p class="_14pt grey _8-top-space">
            If your email address matches our records, we’ll send an email
            containing details on how to reset your password.
          </p>
        </div>
        <div class="dialog-cta">
          <button (click)="onClickLogin()" class="submit-button w-button">
            Login Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
