<!-- <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
    <div class="section">
        <div class="in-page-container">
            <div class="w-layout-grid grid-2 inner-page-max-width">
                <div class="card" style="height: fit-content">
                    <app-latest-capability-updates *ngIf="input == 'Capability'"></app-latest-capability-updates>
                    <app-latest-components-updates *ngIf="input=='Component'"></app-latest-components-updates>
                </div>
                <div id=" w-node-_5195fd01-4388-f520-dd60-c3ca72363211-11bb4147" class="card">
                    <div class="small-card-title-block">
                        <div class="_4-top-space">
                            <div class="heading-2">Most Popular</div>
                        </div>
                    </div>
                    <a href="#" *ngFor="let mostViewed of listOfMostViewedArtifacts" class="update-container small bottom-border smaller-container w-inline-block">
                        <div class="card-block-title" (click)="navigateTosearcPage(mostViewed)" class="div-block-21">
                            <div class="div-block-20">
                                <div class="text-block-4">{{ mostViewed.pageTitle }}</div>
                                <div class="_14pt grey _4-top-space">{{ mostViewed.viewcount }} Views</div>
                            </div>
                        </div>
                </div>
                </a>
            </div>
            <div class="card _32-top-space">
                <app-top-guides-for-developers></app-top-guides-for-developers>
            </div>
        </div>
    </div>
</div>
</div> -->