<div class="large-card-title-block">
    <div class="_4-top-space">
        <div class="heading-2">Latest Components Updates</div>
    </div>
</div>
<a *ngFor="let componentsLatest of componentsLatest | paginate: { itemsPerPage: 3, currentPage: currentPage }" class="information-container bottom-border w-inline-block">
    <div class="card-block-title bottom-margin" (click)="navigateTosearcPage (componentsLatest)">
        <div class="text-block-4">{{ componentsLatest.pageTitle }}</div>
        <div class="tag-information">
            <div class="tag-container right-space" [style.backgroundColor]="componentsLatest.lightColor">
                <div class="_14pt" [style.color]="componentsLatest.darkcolor">
                    {{ componentsLatest?.tenantName }}
                </div>
            </div>
            <!-- <div class="_14pt grey_4-top-space">
<span *ngIf="componentsLatest?.updatesDTO[O]?.version">Version</span>
{{ componentsLatest?.updatesDTO[@]?.version }} {{ componentsLatest?.updatesDTO[0]?.dateOfUpdate }}
</div> -->
        </div>
    </div>
    <!-- <ul role="list" class="list" *ngIf="componentsLatest?.updatesDTO[0]?.updateDescription">|
<li class="list-item">{{ componentsLatest?.updatesDTO[0]?.updateDescription }}<br /></li>
</ul> -->
</a>
<div *ngIf="componentsLatest.length === 0" class="p-4">No records</div>
<div class="page">
    <pagination-controls *ngIf="componentsLatest.length > 0" class="my-pagination" (pageChange)="currentPage = $event">
    </pagination-controls>
</div>