.table td, 
.table th {
padding: 1rem;
}
table > div {
display: none !important;
}
tbody > div {
display: none !important;
}
::ng-deep .modal-content{
    margin-left: 0px !important;
    width: 100% !important;
}