<div class="mini-size-container small">
    <div class="logo-container left">
        <img src="assets/images/Logo.svg" loading="lazy" alt="" class="image-2" />
        <div class="heading-2 alternative">HCL DesignOps</div>
    </div>
    <div class="w-layout-grid card _1-item-grid">
        <div class="large-card-title-block user-mgmt-padding">
            <div class="_4-top-space">
                <div class="heading-1 _16-bottom">New Password</div>
            </div>
            <div class="form _40-top-space w-form">
                <form [formGroup]="newPasswordForm">
                    <label for="email" class="field-label">Email Address</label>
                    <input type="email" class="text-field w-input" maxlength="256" formControlName="email" placeholder="email@hcl.com" id="email" />
                    <label for="name" class="field-label">old Password</label>
                    <input type="password" class="text-field w-input" maxlength="256" formControlName="password" placeholder="old Password" id="name" (keyup)="hideIncorrectError()" />
                    <div *ngIf="newPasswordForm?.controls['password']?.errors?.required && newPasswordForm?.controls['password']?.touched" class="alert alert-danger">
                        <div>
                            <small>old Password is required.</small>
                        </div>
                    </div>
                    <div formGroupName="createPassword">
                        <div>
                            <label for="password" class="field-label">New Password</label>
                            <input type="password" class="text-field w-input" formControlName="newPassword" placeholder="New Password" id="password" />
                            <div *ngIf="createPassword?.get('newPassword')?.errors?.required && createPassword?.get('newPassword')?.touched" class=" alert alert-danger">
                                <div>
                                    <small>New Password is required.</small>
                                </div>
                            </div>
                            <div *ngIf="createPassword?.get('newPassword')?.errors?.maxlength" class="alert alert-danger">
                                <div>
                                    <small>Maxlength is 16 char.</small>
                                </div>
                            </div>
                            <div *ngIf="createPassword?.get('newPassword')?.errors?.minlength" class="alert alert-danger">
                                <div>
                                    <small>Minlength is 5 char.</small>
                                </div>
                            </div>
                            <div *ngIf="createPassword?.get('newPassword')?.errors?.pattern" class="alert alert-danger">
                                <div>
                                    <small>Password must contain only alphanumeric values.</small>
                                </div>
                            </div>
                            <div *ngIf="createPassword?.get('newPassword')?.errors?.pattern" class="alert alert-danger">
                                <div>
                                    <small>Password must contain only alphanumeric values.</small>
                                </div>
                            </div>
                            <label for="ConfirmPassword" class="field-label">Confirm Password</label>
                            <input type="password" class="text-field w-input" maxlength="256" formControlName="confirmPassword" placeholder="Confirm Password" id="ConfirmPassword" (keyup)="hidematchError()" />
                            <div *ngIf="createPassword?.get('confirmPassword')?.errors?.required &&createPassword?.get('confirmPassword')?.touched" class="alert alert-danger">
                                <div>
                                    <small>Confirm Password is required.</small>
                                </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="passwordMatchError">
                                <small>New Password and Confirm Password does not match.</small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button (click)="onPasswordChanged()" class="submit-button w-button">Continue</button>
        </div>
    </div>
</div>
<div class="d-flex mt-4">
</div>