<div class="section white bottom-border">
    <div class="fullsize-container">
        <div class="split-container horizontal full-size">
            <div class="header-text">
                <div class="heading-1">Hey {{ userName }}, say hello to HCL DesignOps </div>
                <p class="_16pt grey _12-top-space">
                    This is the all new HCL DesignOps, over here you will find a single repository of all of our components and tech capabilities across the entire HCL program.
                </p>
            </div>
            <div class="header-image-area display">
                <div data-w-id="b6a1ecdf-Oc1f-91e1-72d0-f091c6572d93" data-animation-type="lottie" data-src="documents/Search-1.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="10" data-duration="0"
                    class="lottie-animation"></div>
            </div>
        </div>
    </div>
</div>