<app-hello-marketplace></app-hello-marketplace>
<div class="fullsize-container w-container">
    <div class="section-container">
        <div class="columns w-row">
            <div class="column w-col w-col-8 w-col-stack">
                <div class="card">
                    <app-latest-components-updates></app-latest-components-updates>
                </div>
                <div class="card 32-top-space">
                    <app-latest-capability-updates></app-latest-capability-updates>
                </div>
                <div class="card_32-top-space">
                    <app-top-guides-for-designers></app-top-guides-for-designers>
                </div>
                <div class="card_32-top-space">
                    <app-top-guides-for-developers></app-top-guides-for-developers>
                </div>
            </div>
            <div class="column-2 w-col w-col-4 w-col-stack">
                <app-recently-viewed></app-recently-viewed>
            </div>
        </div>
    </div>
</div>