<div class="left-panel-section">
    <div class="inner-page-container">
        <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs" >
            <div class="tabs-menu w-tab-menu"  >
                <app-navigation-indication></app-navigation-indication>
                <a data-w-tab="Tab 1"   [ngClass]="{ active: showHome === true }" (click)="loadData('home')" class="tab-link w-inline-block w-tab-link">
                    <div>Libraries Home</div>
                </a>
                <perfect-scrollbar style="max-width: 600px; max-height: 400px">
                    <div *ngIf="status =='Approved'">
                        <div *ngFor="let approved of librariesList">
                            <a data-w-tab="Tab 2"   [ngClass]="{active: approved.artifactId === clicked.artifactId || approved.pageTitle === clicked }" (click)="loadData(approved)" class="tab-link w-inline-block w-tab-link">{{approved?.pageTitle}} </a>
                        </div>
                    </div>
                </perfect-scrollbar>
                <div *ngIf="status == 'Draft'">
                    <div *ngFor="let draft of librariesList">
                        <a data-w-tab="Tab 2" [ngClass]="{ active: showView == true }" (click)="loadData(draft)" class="tab-link w-inline-block w-tab-link">{{ draft?.pageTitle }}
                        </a>
                    </div>
                </div>
                <div *ngIf="status == 'Pending'">
                    <div *ngFor="let pending of librariesList">
                        <a data-w-tab="Tab 2" [ngClass]="{ active: showView === true }" (click)="loadData(pending)" class="tab-link w-inline-block w-tab-link">{{ pending?.pageTitle }} </a>
                    </div>
                </div>
                <div class="buttonDiv" *ngIf="showCreateButton!=='Subscriber'">
                    <button type="button" class="btn btn-default dropdown-toggle createBtnCss"  (click)="loadData('create')">
                        <i class="fas fa-plus"></i>&nbsp; Create New
                    </button>
                </div>
            </div>

            <div class="tabs-content w-tab-content">
                <app-libraries-home [data]="homePageInput" [tenantId]="tenantId" (showApproved)="viewApproved($event)" [hidden]="showHome === false"></app-libraries-home>
                <app-libraries-view (editData)="refreshList($event)" [selectedLibraryId]="selectedLibraryId" *ngIf="showView == true"></app-libraries-view>
                <app-libraries-create #createPage (refreshLiblist)="refreshList($event)" [data]="libraryInput" [hidden]="showForm == false"></app-libraries-create>
            </div>
        </div>
    </div>
</div>
