<div class="mini-size-container small first-section">
    <div class="logo-container left">
        <img src="assets/images/Logo.svg" loading="lazy" alt="" class="image-2" />
        <div class="heading-2 alternative">DesignOps</div>
    </div>
    <div class="w-layout-grid card _1-item-grid">
        <div class="large-card-title-block user-mgmt-padding">
            <div class="_4-top-space">
                <div class="heading-1 _16-bottom">Forgot Password</div>
                <p class="_14pt grey">Register for the HCL DesignOps.</p>
            </div>
            <div class="form _40-top-space w-form">
                <form [formGroup]="forgotPasswordForm" id="email-form" name="email-form" data-name="Email Form" redirect="https://cs-marketplace.webflow.io/" data-redirect="https://cs-marketplace.webflow.io/">
                    <label for="name" class="field-label">Email Address</label>
                    <input type="email" class="text-field w-input" maxlength="256" formControlName="email" data-name="Name" placeholder="email@hcl.com" id="name" />
                    <div *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched" class=" alert alert-danger">
                        <small *ngIf="forgotPasswordForm.controls['email']?.errors?.required">
              Email is required.
            </small>
                        <small *ngIf="forgotPasswordForm.controls['email']?.errors?.email">Email address is invalid</small>
                    </div>
                </form>
            </div>
            <button type="button" (click)="onForgot()" class="submit-button w-button">
        Continue
      </button>
        </div>
    </div>
</div>