.active {
    color: #000;
    border-left: 2px solid black;
}

.createBtnCss {
    padding: 24px;
    outline: none;
}

.buttonDiv {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 290px;
    border-top: 1px solid #d2d6d9;
}

.buttonDiv button {
    padding: 24px;
}

