<div class="main-div">
    <div class="left-panel-section">
        <div class="inner-page-container">
            <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs" >
                <div class="tabs-menu w-tab-menu" >
                    <app-navigation-indication></app-navigation-indication>
                    <a data-w-tab="Tab 1"  [ngClass]="{ active: homeGuideFlag == true  }" data-toggle="tabs" (click)="loadHome()" class="tab-link w-inline-block w-tab-link">Guides Home </a>
                    <div>
                        <div *ngFor="let guides of listAsync | async">
                            <a data-w-tab="Tab 2"  [ngClass]="{ active: guides.artifactId === clicked.artifactId  }" data-toggle="tabs" (click)="loadData(guides)" class="tab-link w-inline-block w-tab-link">{{ guides.pageTitle }}
                            </a>
                        </div>
                    </div>
                    <div class="buttonDiv" *ngIf="role != 'Subscriber'">
                        <button type="button" (click)="loadOthers()" [ngClass]="{ active: createFlag == true }" class="btn btn-default createBtnCss" ><i class="fas fa-plus"></i>&nbsp; Create New
                        </button>
                    </div>
                </div>
                <div class="tabs-content w-tab-content">
                    <div data-w-tab="Tab 6">
                        <app-guides-home [data]="homePageInput" (clickedArtifact)="handleClick($event)" *ngIf="homeGuideFlag">
                        </app-guides-home>
                        <app-rich-text-template *ngIf="createFlag" [data]="richTextTemplateInput" (sendData)="handleRefresh($event)">
                        </app-rich-text-template>
                        <app-guide-view [data]="clicked" *ngIf="viewFlag" (sendData)="handleRefresh($event)">
                        </app-guide-view>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</div>
