<div class="card mt-3"> 
  <div class="row">
  <div class="col-sm">
  <div class="row justify-content-between p-3">
  <div class="p-2 align-self-center">
  <h4>Users</h4>
  </div>
  <div class="pr-2 w-17">
  <button (click)="navigateToCreateUser()" type="button" class="submit-button w-button gray-button">
  <!--
    <img src="assets/images/plus.svg" class="pr-2" alt="+" />
  --> Create User
  </button>
  </div>
  </div>
  <table class="table table-bordered">
  <thead>
  <tr class="table-heading">
  <th scope="col">Users</th>
  <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="userManagement?.length > 0; else noData">
  <tr *ngFor="let usermanagement of userManagement; let i = index">
  <td>
  <h4>{{ usermanagement?.name }}</h4>
  <p class="text-muted">
  {{ usermanagement?.email }} 
  <span
  ><a
  style="text-decoration: underline"
  data-toggle="collapse"
  href="#multiCollapseExample{{ i }}"
  role="button"
  aria-expanded="false"
  aria-controls="multiCollapseExample1"
  (click)="changeUrl()"
  >Assigned to {{ usermanagement?.tenantUser?.length }}</a>
  <div class="row mt-3">
  <div class="col">
  <div class="collapse multi-collapse" id="multiCollapseExample{{ i }}">
  <li class="mb-2" *ngFor="let tem of usermanagement?.tenantUser">
  {{ tem?.tenantName }}
  </li>
  </div>
  </div>
  </div>
  <!-- <a
  href="javascript:void(0)"
  [popover]="popTemplate"
  [outsideClick]="true"
  popovertitle="Assigned Tenants"
  >
  <img src="assets/images/info.svg" /> 
  </a> -->
  </span>
  <!-- <ng-template #popTemplate>
  <li *ngFor="let tem of usermanagement?.tenantUser">
  {{ tem?.tenantName }}
  </li>
  </ng-template> -->
  </p>
  </td>
  <td>
  <a (click)="navigateToManage(usermanagement)" class="text-decoration-none" href="javascript:void(0)"
  ><img src="assets/images/settings.svg" /> Manage
  </a>
  </td>
  </tr>
  </ng-container>
  <ng-template #noData> <div class="d-flex justify-content-center p-3">No Data Available</div></ng-template>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  <div class="d-flex mt-4"></div>
  
  